@charset 'UTF-8';

body{
    margin: 0px;
}

header{
    background-color: rgb(222, 138, 78);
    text-align: center;
    padding: 3px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav{
    background-color: rgba(253, 217, 56, 0.61);
   padding: 10px;
   font-weight: bold;
}

img{
margin:10px;
width: 200px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.423);
}

main h1{
    padding-left: 30px;
    background-color: rgba(253, 217, 56, 0.61);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main h2{
    padding-left: 20px;
    background-color: rgba(255, 127, 80, 0.846);
}

ul{
    background-color: rgba(100, 148, 237, 0.778);
    font-size: 1.5em;
}
p{
    padding-left: 10px;
    font-weight: bold;
    margin-top: 0px;
}

ol{
    background-color: rgba(100, 148, 237, 0.778);
    font-size: 1.5em;
}

article h1{
    padding-left: 30px;
    background-color: aquamarine;
    font-weight: bolder;
}

article p{
    background-color: black;
    color: white;
    margin-top: 10px;
}

article label{
    font-weight: bolder;
    padding-left: 10px;
    border: 2px solid rgba(38, 38, 39, 0.474);
    
}

article button{
    margin-top: 10px;
    padding: 5px;
}

footer{
    background-color:  rgb(222, 138, 78);
    margin-top: 10px;
  text-align: center;
}
